html {
  direction: rtl;
}
.header-area::after {
  clip-path: polygon(0% 0, 90% 0%, 100% 100%, 0% 100%);
}

/* Flip images for RTL version (Arabic) */
html[dir="rtl"] .banner__slider img,
.service-area img,
.counter__shape img,
.footer-images {
  transform: scaleX(-1); /* Flip image horizontally in RTL */
}

.interactive_map_pin_item.jordan_item {
  inset-inline-start: 290px;
  top: 35px;
  inset-inline-end: unset;
}

.interactive_map_pin_item.ksa_item {
  inset-inline-start: 200px;
  top: 95px;
  inset-inline-end: unset;
}
