html {
  direction: rtl;
}
.header-area::after {
  clip-path: polygon(0% 0, 90% 0%, 100% 100%, 0% 100%);
}

/* Flip images for RTL version (Arabic) */
html[dir="rtl"] .banner__slider img,
.service-area img,
.counter__shape img,
.footer-images,
.banner__inner-page img,
.service-two__content .shape img {
  transform: scaleX(-1); /* Flip image horizontally in RTL */
}

.interactive_map_pin_item.jordan_item {
  inset-inline-start: 290px;
  top: 35px;
  inset-inline-end: unset;
}

.interactive_map_pin_item.ksa_item {
  inset-inline-start: 200px;
  top: 95px;
  inset-inline-end: unset;
}
.contact__left-item ul li i::after {
  transform: translate(50%, -50%);
}
.banner__inner-page .shape3 {
  transform: rotateY(180deg);
}
input {
  text-align: right;
  direction: ltr;
}
@media (max-width: 650px) {
  .header__main input[type="checkbox"] {
    inset-inline-start: 40px;
    inset-inline-end: unset;
  }
}
@media (max-width: 767px) {
  .interactive_map_pin_item.jordan_item {
    inset-inline-start: 50px;
    top: 35px;
    inset-inline-end: unset;
  }

  .interactive_map_pin_item.ksa_item {
    inset-inline-start: 40px;
    top: 95px;
    inset-inline-end: unset;
  }
}
